:root {
   --primary-text-color: #757575;
   --secondary-text-color: #212121;
   --accent-color: #2196F3;
   --primary-bg-color:#FFFFFF;
   --text-color-1:#FFFFFF;
   --text-color-2:#000000;
   --background-color1:#2F303A;
   --text-color-rgba:rgba(255, 255, 255, 0.6);
   --background-color2:#F5F4FA;
   --box-shadow-color:rgba(0, 0, 0, 0.15);
   --box-shadov-color1: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   --border-color: #EEEEEE;
}
/* main */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
   display: block;
}
.container {
   margin-left: auto;
   margin-right: auto;
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
 }
 .no-padding {
   padding-bottom: 94px;
   padding-top: 0;
 }
body {
   background-color: var(--primary-bg-color);
   color: var(--primary-text-color);
   font-family: Roboto, sans-serif;
   letter-spacing: 0.03em;
}
.team {
   background-color: var(--background-color2);
}
.section-portfolio {
   background-color: var(--text-color-1);
   padding-top: 94px;
}
.section {
   padding-bottom: 94px;
   padding-top: 94px;
}
.benefits-title, .section-title, .team-name {
   color: var(--secondary-text-color);
}
.benefits-title,
.team-name {
   margin-bottom: 10px;
}
.section-title {
   margin-bottom: 50px;
}
.benefits-title {
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   text-transform: uppercase;
}
.section-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   text-align: center;
}
.text-benefits {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
}
.team-name {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
}
.team-work {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
}

/* header */
.list{
   padding: 0;
   margin: 0;
   list-style: none;
}
.header {
   background-color: var(--text-color-1);
   border-bottom: 1px solid #ECECEC;
}
.header-nav {
   display: flex;
   align-items: center;
}
.contact-header {
   align-items: center;
   display: flex;
   margin-left: auto;
}
.contact + .contact {
   margin-left: 50px;
}
.mail-header {
   color: var(--primary-text-color);
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   text-decoration: none;
   font-style: normal;
}
.mail-header:hover,
.mail-header:focus {
   color: var(--accent-color);
}
.tel-header {
   color: var(--primary-text-color);
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   text-decoration: none;
   font-style: normal;
}
.tel-header:hover,
.tel-header:focus {
   color: var(--accent-color);
}
.nav-item {
   display: block;
   padding-top: 32px;
   padding-bottom: 32px;
}
.nav-item:not(:last-child) {
   margin-right: 50px;
}
.site-nav .link {
   color: var(--secondary-text-color);
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   text-decoration: none;
}
.site-nav {
   display: flex;
   align-items: center;
   margin-left: 93px;
}
.site-nav .active {
   color: var(--accent-color);
}
.site-nav .link:hover, 
.site-nav .link:focus {
   color: var(--accent-color);
}
.logo {
   color: var(--text-color-2);
   font-family: Raleway, sans-serif;
   font-size: 26px;
   line-height: 1.2;
   text-decoration: none;
}
.logotipe {
   color: var(--accent-color);
   font-family: Raleway, sans-serif;
}
/* Герой */
.hero {
   background-color:var(--background-color1) ;
   padding-top: 200px;
   padding-bottom: 200px;
}
.button {
   font-family: inherit;
}
.button {
   color: var(--text-color-1);
   background: var(--accent-color);
   font-weight: 700;
   font-size: 16px;
   line-height: 1.9;
   box-shadow: 0px 4px 4px var(--box-shadow-color);
   border-radius: 4px;
   border: none;
   padding: 10px 32px 10px 32px;
   letter-spacing: 0.06em;
   margin: 0 auto;
   display: flex;
   text-decoration: none;
   cursor: pointer;
}
.hero1 {
   color: var(--text-color-1);
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   margin-top: 0;
   margin-bottom: 30px;
}
/* section-benefits */
.benefits-item:not(last-child) {
   margin-right: 30px; 
}
.benefits {
   display: flex;
   flex-wrap: nowrap;
}
.benefits-item {
   min-width: 270px;
}
/* section-work */
.work-list {
   display: flex;
}
.work-list .item:not(last-child) {
   margin-right: 30px;
}
/* section-team */
.our {
   background-color: var(--background-color2);
}
.team {
   display: flex;
}
.team .item {
   padding-bottom: 30px;
   background-color: var(--text-color-1);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
}
.team .item:not(last-child) {
   margin-right: 30px;
}
.people {
   margin-bottom: 30px;
}
/* footer */
.adres {
   color: var(--text-color-1);
}
.footer {
   background-color: var(--background-color1);
}
.logo-footer {
   color: var(--text-color-1);
   font-family: Raleway, sans-serif;
   font-size: 26px;
   line-height: 1.2;
   text-decoration: none;
}
.logotipe-footer {
   color: var(--accent-color);
   font-family: Raleway, sans-serif;
}
.adres {
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   text-decoration: none;
   margin-bottom: 9px;
}
.mailto {
   color: var(--text-color-rgba);
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   text-decoration: none;
}
.mailto:hover,
.mailto:focus {
   color: var(--accent-color);
}
.tel {
   color: var(--text-color-rgba);
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   text-decoration: none;
}
.tel:hover,
.tel:focus {
   color: var(--accent-color);
}
.adres:hover,
.adres:focus {
   color: var(--accent-color);
}
.footer {
   display: block;
   padding-top: 60px;
   padding-bottom: 60px;
}
.logo-footer {
   margin-bottom: 20px;
   display: block;
}
.contact-footer .item:not(last-child) {
   margin-bottom: 9px;
}



                        /* PORTFOLIO */
/* main */
.content-list {
   background-color: var(--primary-bg-color);
}
.section-name {
   color: var(--secondary-text-color);
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   margin-bottom: 4px;
}
.text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.87;
}
/* кнопки */
.button-type {
   color: var(--secondary-text-color);
   background-color: var(--button-background-color);
   cursor: pointer;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.6;
   box-shadow: 0px 3px 1px var(--box-shadov-color1);
   border-radius: 4px;
   padding: 6px 22px;
   text-align: center;
   border: none;
   text-decoration: none;
   background: #F5F4FA;
   border-radius: 4px;
}
.button-type:hover,
.button-type:focus {
   color: var(--text-color-1);
   background-color: var(--accent-color);
}
.everyone {
   padding: 6px 25px;
}
/* section-button */
.button1 {
   display: flex;
   flex-wrap: wrap;
   justify-content:center;
   padding-bottom: 50px;
}
.button1 .item:not(last-child) {
   margin-right: 8px;
}
/* section-oll */
.oll {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}
/* .oll .item:nth-child(3n) {
   margin-right: 0px;
} */
.oll .item {
   width: 370px;
   background: var(--text-color-1);
   border: 1px solid var(--border-color);
}
.oll .item:nth-last-child(-n + 3) {
   margin-bottom: 0;
}
.item-list {
   padding-top: 20px;
   padding-left: 24px;
   padding-right: 24px;
   padding-bottom: 20px;
}


